/* general formatting */
body {
  margin: 0;
  display: flex;
}

/* -------------- Header --------------- */

/* format header container */
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
  padding-right: 30px;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  background-color: white;
}

/* format logo container */
.logo {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
}

/* format nav container */
header nav {
  padding: 5px;
}

/* format individual <span> links */
header nav span {
  padding: 10px;
}

/* format logo text (non image) */
.logo span {
  color: MediumAquaMarine;
  padding-left: 5px;
}

/* format header links */
header a {
  color: black;
}

/* ------------------------------------ Main Content ------------------------------------ */

/* format text in main stories */
p,
h2,
h3 {
  font-family: Georgia;
  color: black;
}

p {
  font-size: 17px;
}

/* add background image to #earth */
#earth {
  background-image: url("../images/fall-season.png");
  height: 300px;
}

/* add background image to #camera */
#camera {
  background-image: url("../images/hip-cameraman.png");
  height: 300px;
  display: flex;
  justify-content: center;
}

/* add background image to middle-story-img */
.middle-story-img {
  background-image: url("../images/cat-ceo.png");
  height: 300px;
  display: flex;
  justify-content: center;
}

/* format text of middle-story-img */
.middle-story-img span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

/* format text in image of main column */
.old-story-img span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

/* format main container */
.main-container {
  display: flex;
  justify-content: flex-start;
  margin: 30px;
  padding-top: 90px;
}

/* format large container */
.large-container {
  width: 630px;
  flex-shrink: 1;
}

/* format medium container */
.medium-container {
  width: 300px;
  flex-shrink: 2;
  margin-left: 30px;
  margin-right: 30px;
}

/* format small container */
.small-container {
  width: 240px;
  height: 500px;
  flex-shrink: 3;
  margin-right: 30px;
}

/* format headline-image */
.headline-image {
  background-image: url("../images/main-story.png");
  height: 300px;
  display: flex;
}

/* format text in image */
.headline-image span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

/* format old-story-container */
.old-story-container {
  display: flex;
  justify-content: space-between;
}

/* format old-story-container-left and right */
.old-story-container-left,
.old-story-container-right {
  display: inline-flex;
  flex-direction: column;
}

/* fix margins */
.old-story-container-left {
  margin-left: 10px;
}

.old-story-container-right {
  margin-right: 10px;
}

/* format side-story and side-story-img */
.middle-story-container,
.middle-story,
.middle-story-img {
}
