/* general formatting */
body {
  margin: 0;
  display: flex;
}

/* -------------- Header --------------- */

/* format header container */
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
  padding-right: 30px;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  background-color: white;
}

/* format logo container */
.logo {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
}

/* format nav container */
header nav {
  padding: 5px;
}

/* format individual <span> links */
header nav span {
  padding: 10px;
}

/* format logo text (non image) */
.logo span {
  color: MediumAquaMarine;
  padding-left: 5px;
}

/* format header links */
header a {
  color: black;
}

/* ---------------- Main Content ----------------- */

/* format main container */
.main-container {
  display: flex;
  justify-content: flex-start;
  margin: 30px;
  border: solid black 1px;
  padding-top: 90px;
}

/* format large container */
.large-container {
  width: 630px;
  border: solid black 1px;
  flex-shrink: 1;
}

/* format medium container */
.medium-container {
  width: 300px;
  border: solid black 1px;
  flex-shrink: 2;
  margin-left: 30px;
  margin-right: 30px;
}

/* format small container */
.small-container {
  width: 240px;
  height: 500px;
  border: solid black 1px;
  flex-shrink: 3;
  margin-right: 30px;
}

/* format headline */
.headline {
  border: solid black 1px;
}

/* format headline-image */
.headline-image {
  border: solid black 1px;
}

/* format old-story-container */
.old-story-container {
  border: solid black 1px;
}

/* format old-story-container-left and right */
.old-story-container-left,
.old-story-container-right {
  border: solid black 1px;
}

/* format old-story and old-story-img */
.old-story,
.old-story-img {
  border: solid black 1px;
}

/* format side-story and side-story-img */
.middle-story-container,
.middle-story,
.middle-story-img {
  border: solid black 1px;
}

/* format news bites div */
.news-bites {
  border: solid black 1px;
}
